<!-- wp:template-part {"slug":"header","theme":"blocket-portfolio","area":"header"} /-->

<!-- wp:template-part {"slug":"hero","theme":"blocket-portfolio","area":"uncategorized"} /-->

<!-- wp:template-part {"slug":"skills","theme":"blocket-portfolio","area":"uncategorized"} /-->

<!-- wp:template-part {"slug":"experiences","theme":"blocket-portfolio","area":"uncategorized"} /-->

<!-- wp:template-part {"slug":"projects","theme":"blocket-portfolio","area":"uncategorized"} /-->

<!-- wp:template-part {"slug":"contact","theme":"blocket-portfolio","area":"uncategorized"} /-->

<!-- wp:template-part {"slug":"footer","theme":"blocket-portfolio","area":"footer"} /-->